settings.json
*.tex
*.pyc
*.aux
*.log
*.out
*.pdf
*.gz
*.xdv
*.rdb
not-zip-safe
PKG-INFO
*.fls
*.fdb_latexmk
amd/
dependency_links.txt
SOURCES.txt
top_level.txt
temp_file.pdf
local_config.py
*.DS_Store

# Temp files
*#
.ipynb_checkpoints/
latex_sandbox/