<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Army Memo Maker</title>
  <meta name="description" content="A website for making memos in the style of AR 25-50.">
  <meta name="author" content="Joe Schlessinger">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">


  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>

<div class="container">
  <div class="row">
    <nav class="navbar">  
      <h1>Army Memo Maker</h1>
      <ul class="navbar-links">
        <li><a href="/">Home</a></li>
        <li><a href="/form">Form Builder</a></li>
        {% if current_user.is_authenticated %}
        <li><span>{{ current_user.username }}</span></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/history">View History</a></li>
        {% else %}
        <li><a href="/login">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

<section class="content">
  <div class="container">
    {% block top_info %}{% endblock %}
    <h4 class="flash" id="status"></h4>
    {% with messages = get_flashed_messages() %}
    {% if messages %} 
    {% for message in messages %}
    {% if message is defined %}
      <h4 class="flash">{{ message }}</h4>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</section>

</body>
</html>
