{% extends 'base.html' %}

{% block top_info %}
<div class="row">
  {% block welcome_text %}{% endblock %}
  Welcome to Army Memo Maker, a simple webapp that helps you make memos formatted in perfect accordance with AR 25-50. Memos are guaranteed to have the right spacing and font. Note, generating your memo will take a few seconds (this website is currently running on a server less powerful than your phone).
  
  <br><br>
  The tutorial example explains how to create your memo. You can also view other example memos to see other supported features. If you make an account, you can save documents and load recently created ones. If you are confused, try the <a href="https://armymemomaker.com/form">Form Editor</a>, which is more intuitive.
  <br>
  <br>
</div>  


{% from "example_list.html" import build_list %}
{{ build_list('index') }}
{% endblock %}

{% block content %}

<form id="memo" method="post">
  <textarea name="memo_text" id="editor" spellcheck="true" class="u-full-width u-full-height">{{memo_text}}</textarea>
  <button class="button-primary" id="start-bg-job">Create Memo PDF</button>
  {% if current_user.is_authenticated %}
  <button class="button.u-pull-right" id="save-progress">Save Progress</button>
  {% endif %}
</form>

<script src="{{ url_for('static', filename='tasks.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
