{% extends "base.html" %}

{% block content %}

<div class="row">
  <h2>Form Builder</h2>

  <p> Here's a more intuitive way to make your memos. You'll see it resembles an actual memo. Simply fill out the appropriate parts and add the options you need for your purposes. You can view the same examples or, if you have an account, your past memos. As always, click the blue button to wait for your memo.</p>
</div>

<div class="row progress-bar-container" id="progress-bar-container">
  <div class="six columns offset-by-three">
    <h4 class="u-full-width center">Memo Creation Progress</h4>
    <div class="progress-bar u-full-width center" id="progress-bar">
      <div class="progress u-full-width center" id="progress"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="nine columns">
    <label for="examples">Example List</label>
    <select id="linkSelector" onchange="changeHref()">
      <option value="{{url_for('form', example_file='tutorial.Amd')}}" id="tutorial.Amd">Tutorial</option>
      <option value="{{url_for('form', example_file='long_memo.Amd')}}" id="long_memo.Amd">Long Memorandum (Figure 2-2 from AR 25-50)</option>
      <option value="{{url_for('form', example_file='basic_mfr.Amd')}}" id="basic_mfr.Amd">Memorandum for Record</option>
      <option value="{{url_for('form', example_file='basic_mfr_w_table.Amd')}}" id="basic_mfr_w_table.Amd">Memorandum for Record with Table</option>
      <option value="{{url_for('form', example_file='memo_for.Amd')}}" id="memo_for.Amd">Memorandum For</option>
      <option value="{{url_for('form', example_file='memo_multi_for.Amd')}}" id="memo_multi_for.Amd">Memorandum For Multiple</option>
      <option value="{{url_for('form', example_file='memo_thru.Amd')}}" id="memo_thru.Amd">Memorandum Thru</option>
      <option value="{{url_for('form', example_file='memo_extra_features.Amd')}}" id="memo_extra_features.Amd">Memorandum with Enclosures, Distros, Suspense Dates</option>
    </select>
  </div> 
</div>

<form id="memo" method="post">
  <div class="twelve columns">
    <div class="six columns offset-by-three">
      <label for="ORGANIZATION_NAME" class="center">Organization Name / Title</label>
      <input type="text" value="{{ unit_name | default('36th Engineer Brigade') }}" name="ORGANIZATION_NAME" id="ORGANIZATION_NAME" class="u-full-width center">
      <label for="ORGANIZATION_STREET_ADDRESS" class="center">Street Address</label>
      <input type="text" value="{{ unit_street_address | default('1234 Washington Road')}}" id="ORGANIZATION_STREET_ADDRESS" name="ORGANIZATION_STREET_ADDRESS" class="u-full-width center">
      <label for="ORGANIZATION_CITY_STATE_ZIP" class="center">City, State, Zip</label>
      <input type="text" value="{{ unit_city_state_zip | default('Fort Cavazos, TX 01234')}}" id="ORGANIZATION_CITY_STATE_ZIP" name="ORGANIZATION_CITY_STATE_ZIP" class="u-full-width center">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="three columns offset-by-nine" id="suspense">
      {% if suspense_date is defined and suspense_date is not none %}
        <div id="suspenseDiv">
          <label class="u-full-width center" for="SUSPENSE">Suspense Date</label>
          <input type="text" value="{{suspense_date}}" id="SUSPENSE" name="SUSPENSE" class="u-full-width center">
          <input class="u-full-width center" type="button" id="removeSuspense" value="Remove Suspense">
        </div>
        {% else %}
        <input class="u-full-width center" type="button" id="addSuspense" value="Add Suspense">      
        {% endif %}

    </div>
  </div>
  
  <div class="row">
    <div class="three columns">
      <label for="OFFICE_SYMBOL" class="u-full-width center" class="center">Office Symbol</label>
      <input type="text" value="{{ office_symbol | default('ABC-DEF-GHIJ')}}" name="OFFICE_SYMBOL" id="OFFICE_SYMBOL" class="u-full-width center">
    </div>
    <div class="six columns">
      <label class="u-full-width"></label>
    </div>
    <div  class="three columns">
      <label for="DATE" class="u-full-width center" class="center">Date</label>
      <input type="text" value="24 January 2006" id="DATE" name="DATE" class="u-full-width center">
    </div>    
  </div>

  <hr>

  <div id="thruFieldContainer">
    {% for name, add, city in zipped_thru %}
    
    <div class="row" id="thru{{ zipped_thru|length - loop.index0 }}">
      <div class="six columns">
        <label class="u-full-width center" for="THRU_ORGANIZATION_NAME{{ zipped_thru|length - loop.index0 }}">THRU Organization Name</label>
        <input type="text" id="THRU_ORGANIZATION_NAME {{  zipped_thru|length - loop.index0 }}" name="THRU_ORGANIZATION_NAME{{  zipped_thru|length - loop.index0}}" value="{{ name }}" class="u-full-width center">
        <br>
        <label class="u-full-width center" for="THRU_ORGANIZATION_STREET_ADDRESS{{ zipped_thru|length - loop.index0 }}">THRU Street Address</label>
        <input type="text" id="THRU_ORGANIZATION_STREET_ADDRESS{{ zipped_thru|length - loop.index0}}" name="THRU_ORGANIZATION_STREET_ADDRESS{{ zipped_thru|length - loop.index0 }}" value="{{ add }}" class="u-full-width center">
        <br>
        <label class="u-full-width center" for="THRU_ORGANIZATION_CITY_STATE_ZIP{{  zipped_thru|length - loop.index0 }}">THRU City, State Zip</label>
        <input type="text" id="THRU_ORGANIZATION_CITY_STATE_ZIP{{ zipped_thru|length - loop.index0 }}" name="THRU_ORGANIZATION_CITY_STATE_ZIP{{ zipped_thru|length - loop.index0 }}" value="{{ city }}" class="u-full-width center">
        <input type="button" class="u-full-width center" value="Remove Thru Address" onclick="deleteElement('thru{{ zipped_thru|length - loop.index0 }}')">
        <hr>
      </div>
    </div>
    {% endfor %}

    <div class="row">
      <div class="three columns">
        <input class="u-full-width center" type="button" id="addTHRU" value="Add THRU address">
      </div>
    </div>
  </div>
  
  <div id="forFieldContainer">
    {% for name, add, city in zipped_for %}

    <div class="row" id="for{{ zipped_for|length - loop.index0 }}">
      <div class="six columns">
        <label class="u-full-width center" for="FOR_ORGANIZATION_NAME{{ zipped_for|length - loop.index0}}">FOR Organization Name</label>
        <input type="text" id="FOR_ORGANIZATION_NAME{{ zipped_for|length - loop.index0 }}" name="FOR_ORGANIZATION_NAME{{ zipped_for|length - loop.index0 }}" value="{{ name }}" class="u-full-width center">
        <br>
        <label class="u-full-width center" for="FOR_ORGANIZATION_STREET_ADDRESS{{ zipped_for|length - loop.index0 }}">FOR Street Address</label>
        <input type="text" id="FOR_ORGANIZATION_STREET_ADDRESS{{ zipped_for|length - loop.index0 }}" name="FOR_ORGANIZATION_STREET_ADDRESS{{ zipped_for|length - loop.index0 }}" value="{{ add }}" class="u-full-width center">
        <br>
        <label class="u-full-width center" for="FOR_ORGANIZATION_CITY_STATE_ZIP{{ zipped_for|length - loop.index0 }}">FOR City, State Zip</label>
        <input type="text" id="FOR_ORGANIZATION_CITY_STATE_ZIP{{ zipped_for|length - loop.index0 }}" name="FOR_ORGANIZATION_CITY_STATE_ZIP{{ zipped_for|length - loop.index0 }}" value="{{ city }}" class="u-full-width center">
        <br>
        <input type="button" class="u-full-width center" value="Remove For Address" onclick="deleteElement('for{{ zipped_for|length - loop.index0 }}')">      
        <hr>
      </div>
    </div>
    {% endfor %}

    <div class="row">
      <div class="three columns">
        <input class="u-full-width center" class="button" type="button" id="addFOR"  value="Add FOR address">
      </div>
    </div>
  </div>



  <div class="row">
    <label for="SUBJECT">Subject</label>
    <input class="u-full-width" type="text" value="{{ subject | default('This is your memo subject') }}" name="SUBJECT" id="SUBJECT">
  </div>

  
  <div class="row">
    <label for="MEMO_TEXT">Memo Text</label>
    <textarea class="u-full-width u-half-height" name="MEMO_TEXT" id="MEMO_TEXT">{{text | default('- This memo is a demo.

- This item contains sub items.
    - Thing one.
    - Thing two.
        - Here is a sub sub item

- Point of contact is the undersigned.' )}}</textarea>
  </div>

  <div class="row">
    <div class="three columns" id="authority">
      {% if authority is defined and authority is not none %}
        <div id="authorityDiv">
          <label class="u-full-width center" for="AUTHORITY">Authority</label>
          <input type="text" value="{{authority}}" id="AUTHORITY" name="AUTHORITY" class="u-full-width center">
          <input class="u-full-width center" type="button" id="removeAuthority" value="Remove Authority">
        </div>
        {% else %}
        <input class="u-full-width center" type="button" id="addAuthority" value="Add Authority">      
        {% endif %}
    </div>
  </div>

  
  <hr>

  
  <div class="row">    
    <div class="twelve columns">
      <div class="three columns" id="enclosures">
        {% if enclosures is iterable %}
        {% for enc in enclosures %}
        <div id="enc{{enclosures|length - loop.index0}}">
          <label class="u-full-width center"  for="ENCLOSURE{{enclosures|length - loop.index0}}">Enclosure</label>
          <input type="text" id="ENCLOSURE{{enclosures|length - loop.index0}}" name="ENCLOSURE{{enclosures|length - loop.index0}}" value="{{enc}}" class="u-full-width center">
          <input class="u-full-width center" type="button" value="Remove Enclosure" onclick="deleteElement('enc{{enclosures|length - loop.index0 }}')">
          <hr>
        </div>
        {% endfor %}
        {% endif %}
          <input class="u-full-width center" type="button" id="addEnclosure" value="Add Enclosure">
      </div>

      <div class="three columns offset-by-three" id="signature">
        <label class="u-full-width center" for="AUTHOR">Signer's Name</label>
        <input type="text" value="{{ author_name | default('James F. Ryan') }}" name="AUTHOR" id="AUTHOR" class="u-full-width center">
        <label class="u-full-width center" for="RANK">Rank</label>
        <input type="text" value="{{ author_rank | default('PVT') }}" id="RANK" name="RANK" class="u-full-width center">
        <label class="u-full-width center" for="BRANCH">Branch</label>
        <input type="text" value="{{ author_branch | default('IN') }}" id="BRANCH" name="BRANCH" class="u-full-width center">
        {% if author_title is defined %}
        <div id="titleDiv">
          <label class="u-full-width center" for="TITLE">Title</label>
          <input type="text" value="{{ author_title}}" id="TITLE" name="TITLE" class="u-full-width center">
          <input class="u-full-width center" type="button" id="removeTitle" value="Remove Title">
        </div>
        {% else %}
        <input class="u-full-width center" type="button" id="addTitle" value="Add Title">      
        {% endif %}
      </div>
    </div>    
  </div>

  <hr>
  <div class="row">
    <div class="six columns offset-by-three">
      <h3 class="center">Less Common Items</h4>
    </div>
  </div>
  
  <div class="row">    
    <div class="three columns" id="distributions">
      {% if distros is iterable %}
      {% for dist in distros %}
        <div id="distro{{distros|length - loop.index0}}">
          <label class="u-full-width center"  for="DISTRO{{distros|length - loop.index0}}">Distribution</label>
          <input type="text" id="DISTRO{{distros|length - loop.index0}}" name="DISTRO{{distros|length - loop.index0}}" value="{{dist}}" class="u-full-width center">
          <input class="u-full-width center" type="button" value="Remove Distro" onclick="deleteElement('distro{{distros|length - loop.index0 }}')">
          <hr>
        </div>
        {% endfor %}
        {% endif %}
        <input class="u-full-width center" class="button" type="button" id="addDistro" value="Add Distribution">
      </div>
  </div>

    <div class="row">    
      <div class="three columns" id="cfs">
        {% if cfs is iterable %}
        {% for cf in cfs %}
        <div id="cf{{cfs|length - loop.index0}}">
          <label class="u-full-width center"  for="CF{{cfs|length - loop.index0}}">Copies Furnished</label>
          <input type="text" id="CF{{cfs|length - loop.index0}}" name="CF{{cfs|length - loop.index0}}" value="{{cf}}" class="u-full-width center">
          <input class="u-full-width center" type="button" value="Remove Copies Furnished" onclick="deleteElement('cf{{cfs|length - loop.index0 }}')">
          <hr>
        </div>
        {% endfor %}
        {% endif %}
        <input class="u-full-width center" type="button" id="addCF" value="Add Copies Furnished">
      </div>
    </div>

    
  <hr>
  
  <div class="row">
    <input class="button-primary" type="submit" value="Create Memo PDF">
    {% if current_user.is_authenticated %}
    <input class="button" type="submit" value="Save Progress">
    {% endif %}   
  </div>


</form>

<script src="{{ url_for('static', filename='tasks.js') }}"></script>
<script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}
